<% include ../partials/header %>
<div class="container">
    <div class="row">
        <h1 class="commentTitle" style="text-align: center">Edit Comment</h1>
        <div style="width: 60%; margin: 25px auto;">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                <!--<div class="form-group">-->
                <!--    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">-->
                <!--</div>-->
                 <div class="form-group">
                    <textarea class="form-control" rows="12" name="comment[text]"><%= comment.text %></textarea>
                </div>
                <input type="hidden" id="cDate" name="comment[dateMade]" value="<%=comment.dateMade%>" >
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a class="link" href="/campgrounds/<%= campground_id %>">Go Back</a>
        </div>
    </div>
</div>


 <script type="text/javascript">
        $("button").on("click", function(){ 
	        $("#cDate").val(getTimestamp())
        });
        //getTimestamp() fn in header.ejs
         // document.getElementById("button").addEventListener("click", getTimestamp);
        //  document.getElementById('cDate').value = d;
 </script>  

<% include ../partials/footer %>

